<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <link rel="stylesheet" href="style.css" />
        <title>Fusion php</title>
    {% endblock %}
</head>
<body>
<div id="content">{% block content %}{% endblock %}</div>
<div id="footer">
    {% block footer %}
        &copy; Copyright 2019 by <a href="http://domain.invalid/">https://github.com/vlotysh/</a>.
    {% endblock %}
</div>
</body>
</html>